<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Supplier Chains" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<app-datatable

  [theadData]="theadData"
  [tbodyData]="tbodyDataComputed"
  [addBtnUrl]="addBtnUrl"
  [p]="p"
  [itemsPerPage]="itemsPerPage"
  [searchValue]="searchValue"
  [sortKey]="sortKey"
  [reverse]="reverse"
  [selectAll]="selectAll"
  [statusCounts]="statusCounts"
  (actionBtnEvent)="actionBtn($event)"
  
  ></app-datatable>
  <!-- (mapViewBtnEvent)="mapViewBtn($event)"
  (streetViewBtnEvent)="streetViewBtn($event)"

></app-datatable> -->
