<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Events Fair Holidays" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<app-datatable

  [theadData]="theadData"
  [tbodyData]="tbodyDataComputed"
  [addBtnUrl]="addBtnUrl"
  [p]="p"
  [itemsPerPage]="itemsPerPage"
  [searchValue]="searchValue"
  [sortKey]="sortKey"
  [reverse]="reverse"
  [selectAll]="selectAll"
  [statusCounts]="statusCounts"
  (actionBtnEvent)="actionBtn($event)"
  (mapPopupOpen)="mapOpen($event)"

></app-datatable>
