<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" >
                <!-- {{year}} © Steex. -->
                © 2019 Europe Incoming - Provider of hotels, European tours and ground services. All rights reserved.
            </div>
            <!-- <div class="col-sm-3">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Themesbrand
                </div>
            </div> -->
        </div>
    </div>
</footer>
