<p>map works!</p>

<p>Lat : {{ location?.latitude}}</p>
<p>Lng : {{ location?.longitude}}</p>
<p>Address : {{ address}}</p>


<div id="map"></div>
<div id="street-view"></div>

<!-- <div>
  <h2>Distance Calculator</h2>
  <div>
    <label for="locationALat">Location A Latitude:</label>
    <input type="text" id="locationALat" [(ngModel)]="locationA.latitude" />
    <label for="locationALng">Location A Longitude:</label>
    <input type="text" id="locationALng" [(ngModel)]="locationA.longitude" />
  </div>
  <div>
    <label for="locationBLat">Location B Latitude:</label>
    <input type="text" id="locationBLat" [(ngModel)]="locationB.latitude" />
    <label for="locationBLng">Location B Longitude:</label>
    <input type="text" id="locationBLng" [(ngModel)]="locationB.longitude" />
  </div>
  <button (click)="calculateDistance()">Calculate Distance</button>
  <div>
    <p *ngIf="distance">Distance: {{ distance }}</p>
  </div>
</div> -->
<div id="locationAMap" style="width: 100%; height: 300px;"></div>

<!-- <div>
  <h2>Location A Map</h2>
  <div id="locationAMap" style="width: 100%; height: 300px;"></div>
</div>

<div>
  <h2>Location B Map</h2>
  <div id="locationBMap" style="width: 100%; height: 300px;"></div>
</div> -->








