.includeChildComponent {
  margin-top: 15px;
}
.includeChildComponent .card-body {
  margin: 0px;padding: 0px;
}
.internalFormElementsAfterExternalUI {
  margin-top: 15px;
}
.formButtonDiv {
  margin-top: 15px;
  text-align: center;
}
